<!-- signup_check.html -->
<div id="signup-success" style="
  width: 756px; height: 868px; position: relative; border-radius: 30px;
">
  <div style="width: 756px; height: 868px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
  <div style="width: 629px; height: 103px; left: 63px; top: 181px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #56609B; font-size: 48px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">회원가입이 완료되었습니다!</div>
  <div style="width: 504px; height: 100px; left: 126px; top: 308px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #8D8D8D; font-size: 24px; font-family: Pretendard; font-weight: 500; line-height: 35px; word-wrap: break-word">Auto Fix와 함께해 주셔서 감사합니다.<br/>저희와 함께 차량 이상 증상 진단 및 정비 필요 여부를 확인해 보세요!</div>
  <div style="width: 613px; height: 75px; left: 71px; top: 604px; position: absolute; background: #56609B; border-radius: 30px"></div>
  <div id="go-login" style="width: 472px; height: 69px; left: 142px; top: 607px; position: absolute; opacity: 0.80; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Pretendard; font-weight: 500; word-wrap: break-word; cursor:pointer;">
    로그인 페이지로 돌아가기 >
  </div>
</div>

<script>
document.getElementById('go-login').addEventListener('click', () => {
  window.location.href = "{% url 'uauth:login' %}";
});
</script>
